
body {
  background-image: url(images/email-pattern.png);
}
.heading{
  height:150px;
  background-color: #5b5b6e;
}
.footer{
  height: 100px;
  background-color: #5b5b6e;
}
h1{font-size: 60px;}
h2{font-size: 20px}
h3{font: 10px;}
h1,h2,h3 {
  text-align:center;
  font-weight: 400;
}
p{font-size: 20px;
  text-align: center;}
.img{
  height: 500px;
  position: center;
  border-radius: 300px;
  margin-top: 20px;

}
.profile{
  text-align: center;;
}
li{font-size: 20px;
  text-align: center;
}
.horizontal{
  padding: 10px;
  color:#5b5b6e;
}
